message.txt
SRS.txt
test_cmd.txt
connection_properties_dremio.txt
*.sh
kraft/
*.properties
trogdor.conf
memory-bank/
logs/
dbt_packages/
dremio_query.txt
__pycache__/    
mart_schema.txt
create_clickhouse_table.txt
chat_prompt.txt
chatbot_clickhouse/.env
